.container {
    width: 80%;
    height: 53%;
    margin-top: 10%;
    color: white;

    .task-data {
        .desc{
            display: inline-block;
        }
        .selectbox {
            display: inline;
            position: relative;
            margin-left: 10%;
            background-color: black;
            color: white;
            width: unset;
            
        }
    }


    .form-group{
        background-color: black;
        display: block;
        color: white;

        &.name {
            width: unset;
        }
    }


}