<div class="info">
  <div class="adv">
    <h1>Janusz biznesu</h1>
    <h2>najlepszy kod w calej europie</h2>
    <h3>jebac hindusow</h3>
  </div>
  <div class="bottom">
      <div class="about wrap">
        <div class="details">
            <h4>About</h4>
            Januszsoft welcomes you
        </div>
        

      </div>
      <div class="contact wrap">
        <div class="details">
            <h4>Contact</h4>
            1465 Aspen Court<br>
            Boston<br>
            857-200-9674
        </div>
      </div>
      <div class="motto wrap">
        <div class="details">
            <h4>Analize Your<br>Business.</h4>
            Transforming distribution and marketing with key<br>
            capabilities in customer insight and analytics.
        </div>
       
      </div>
  </div>
</div>