:host {
    .info {
        width: 100%;
        height: 25%;
        .adv {
            margin-left: 20%;
            margin-top: 11%;
            h1 {
                color: rgb(127, 126, 216);
            }
            color: white;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            width: 100%;

            .wrap {
                background-size: 100% 100%;
                float: left;
                height: 34vh;
                width: 33.33%;
                color: white;

                .details {
                    margin-top: 15%;
                    text-align: center;
                }
                

                &.about {
                    background-image: url("../../../assets/matrix2.jpg");           
                }
                
                &.contact {
                    background-image: url("../../../assets/black2.jpg");
                }
            
                &.motto {
                    background-image: url("../../../assets/pic3.jpg");
                }
            }
        }
        
    }
}