:host {
    width: 70%;
    height: 80%;
    margin-top: 6vh;
    color: white;
    margin-left: 15%;
    display: block;

    .form {
        display: inline-block; 

        .form-group {
            display: block;
            background-color: black;
            color: white;
            height: calc(1.25rem + 2px);
        }
    }


}
