.sidebar {
    position: fixed;
    background-color: rgb(21, 34, 95);
    width: 10vw;
    height: 95vh;
    color: white;
    top: 6.8vh;
    overflow: hidden;
    display: inline-block;
    z-index: 9999;

    .sidebar-list {
        ul {
            padding: 2vh 0vw;
            text-align: center;
            li:hover  {
                
                list-style-type: none;
                background-color: #d7d5df60;
            }
            li {
                padding-top: 2vh;
                padding-bottom: 2vh;
            }
            
        }
    }
}