.main {
    width: 100%;
    height: 300px;
    position: relative;
    float: right; 
    margin-right: 2%;
    
    ag-grid-angular {
        position: relative;
        margin-left: 10%;
        top: 15%;
        float: right;
    

        .ag-body-viewport {
            
            width: 100vw;
                height:80vh; 
        }
        
    }
}